.kb { width:12px;height:10px;background-image:url(img/kb.gif); }
.kr { width:12px;height:10px;background-image:url(img/kr.gif); }
.kg { width:12px;height:10px;background-image:url(img/kg.gif); }
.kg2 { width:12px;height:10px;background-image:url(img/kg2.gif); }
.kf { width:12px;height:10px;background-image:url(img/karte_farm.gif); }
.ke { width:12px;height:10px;background-image:url(img/karte_enemy.gif); }
.kn { width:12px;height:10px;background-image:url(img/karte_nap.gif); }
.ky { width:12px;height:10px;background-image:url(img/ky.gif); }