			</center>			
			<form enctype="multipart/form-data" action="admin_panel.php?SID" method="post">
			<b>
				Base:
				<input type="text" name="ubl" value="%ubl%" style="width: 50px;" />
				<input type="submit" name="submit" value="hijack" />
				<input type="submit" name="submit" value="logout" />
			</b>
			<a href="admin_info.php?SID&amp;ubl=%ubl%" target="main"><b>Admin Info anzeigen</b></a>
			<script language="JavaScript" type="text/javascript">
			<!-- 
			function refresh() {
			top.menu.location.reload(); 
			top.main.location.reload(); 
			}
			refresh();
			-->
			</script>