	<tr align="left" style="background-color: #ddefaa;">
		<td style="width:19%" align="center">
			<b>%name%</b>
		</td>
		<td style="width:9%" align="center">
			%abwehr%
		</td>
		<td style="width:9%" align="center">
			%spionage%
		</td>
		<td style="width:9%" align="center">
			%sabotage%
		</td>		
		<td style="width:9%" align="center">
			%diebstahl%
		</td>
		<td style="width:9%" align="center">
			%tarnung%
		</td>
	<tr>
	<tr align="left">
		<td style="width:15%" align="center">
			<b>Ausr&uuml;stung:</b>
		</td>	
		<td style="width:85%" colspan="5" align="left">
			%ausruestung%
		</td>
	<tr>	
	<tr align="left">
		<td style="width:15%" align="center">
			<b>Status:</b>
		</td>	
		<td style="width:85%" colspan="5" align="left">
			%status%
		</td>
	<tr>