<script language="javascript" type="text/javascript">
<!--

function addtext(text) {

	document.getElementsByName("text")[0].value = document.getElementsByName("text")[0].value + text;

}

-->
</script>
<table border="0" width="100%" cellpadding="1" cellspacing="0">
	<tr>
		<th colspan="2">
			Smilie - Legende
		</th>
	</tr>
	<tr class="standard" onclick="addtext(':)');">
		<td width="50%">
			&nbsp;&nbsp;<b>:) :-) </b>
		</td>
		<td>
			<img src='img/smilies/smiley.gif' alt='IMG' />
		</td>
	</tr>
	<tr class="standard" onclick="addtext(':(');">
		<td width="50%">
			&nbsp;&nbsp;<b>:) :-) </b>
		</td>
		<td>
			<img src='img/smilies/sad.gif' alt='IMG' />
		</td>
	</tr>	
	<tr class="standard" onclick="addtext(';)');">
		<td width="50%">
			&nbsp;&nbsp;<b>;) ;-) </b>
		</td>
		<td>
			<img src='img/smilies/smiley2.gif' alt='IMG' />
		</td>
	</tr>
	<tr class="standard" onclick="addtext(':D');">
		<td width="50%">
			&nbsp;&nbsp;<b>:D :-D </b>
		</td>
		<td>
			<img src='img/smilies/grin.gif' alt='IMG' />
		</td>
	</tr>
	<tr class="standard" onclick="addtext(':P');">
		<td width="50%">
			&nbsp;&nbsp;<b>:P :-P </b>
		</td>
		<td>
			<img src='img/smilies/tounge.gif' alt='IMG' />
		</td>
	</tr>
	<tr class="standard" onclick="addtext(':O');">
		<td width="50%">
			&nbsp;&nbsp;<b>:O :-O </b>
		</td>
		<td>
			<img src='img/smilies/shock.gif' alt='IMG' />
		</td>
	</tr>
	<tr class="standard" onclick="addtext('8:');">
		<td width="50%">
			&nbsp;&nbsp;<b>8: :cool: </b>
		</td>
		<td>
			<img src='img/smilies/cool.gif' alt='IMG' />
		</td>
	</tr>	
	<tr class="standard" onclick="addtext(':kaffee:');">
		<td width="50%">
			&nbsp;&nbsp;<b>:kaffee: </b>
		</td>
		<td>
			<img src='img/smilies/kaffee.gif' alt='IMG' />
		</td>
	</tr>		
	<tr class="standard">
		<td width="50%">
			&nbsp;&nbsp;<b><a onclick="addtext('[b]');">[b]</a> &nbsp;/&nbsp; <a onclick="addtext('[/b]');">[/b]</a></b>
		</td>
		<td>
			<b>fetter Text</b>
		</td>
	</tr>	
	<tr class="standard">
		<td width="50%">
			&nbsp;&nbsp;<b><a onclick="addtext('[i]');">[i]</a> &nbsp;/&nbsp; <a onclick="addtext('[/i]');">[/i]</a></b>
		</td>
		<td>
			<b>kursiver Text</b>
		</td>
	</tr>	
	
	<tr class="standard">
		<td width="50%" colspan="2">
			&nbsp;&nbsp;<b><a onclick="addtext('[center]');">[center]</a> &nbsp;/&nbsp; <a onclick="addtext('[/center]');">[/center]</a></b>
		</td>
	</tr>
	<tr class="standard">
		<td width="50%" colspan="2" align="center">
			<br />
			<b><a onclick="popUp('bbcode.html', 500, 'bbcode');">Klicke hier f&uuml;r weitere<br />Befehle und Anleitung</a></b>
		</td>
	</tr>		

</table>