<br />	
<br />
<table border="1" cellspacing="0" class="sub" style="width:680px">
	<tr>
		<th>
			<b>O-Wars Clan Rangliste:</b> (letztes Update: %update%)
		</th>
	</tr>
	<tr>
		<td align="center">
		<br />
		<div align="right">Seite: %pages%&nbsp;</div>
<table border="1" cellspacing="0" class="standard">
	<tbody>
		<tr align="center">
			<th style="width: 70px;">
				Platz
			</th>
			<th style="width: 70px;">
				ClanID
			</th>			
			<th style="width: 180px;">
				Name
			</th>
			<th style="width: 70px;">
				Tag
			</th>
			<th style="width: 60px;">
				Spieler
			</th>
			<th style="width: 80px;">
				Punkte
			</th>
			<th style="width: 70px;">
				&nbsp;
			</th>
		</tr>
		%ranking%
	</tbody>
</table>
<br /><br />
Clanpunkte = (Ausbaupunkte + (Kampfpunkte * 10))/100<br />
<b>Die Punkte werden alle 6 Stunden neu berechnet.</b>
<br /><br />
</td>
</tr>
</table><br />
<br />
