<br />	
<br />
<table border="1" cellspacing="0" class="sub" style="width:680px">
	<tr>
		<th>
			<b>Clanwars:</b>
		</th>
	</tr>
	<tr>
		<td align="center">
		<br />
	<b>Aktuelle Clanwars:</b>
<table border="1" cellspacing="0" class="standard">
	<tbody>
		<tr align="center">
			<th style="width: 50px;">
				WarID
			</th>
			<th style="width: 90px;">
				Beginn
			</th>			
			<th style="width: 80px;">
				Clan
			</th>			
			<th style="width: 80px;">
				Kampfpunkte
			</th>
			<th style="width: 80px;">
				Pl&uuml;nderung
			</th>
			<th style="width: 80px;">
				Clan
			</th>			
			<th style="width: 80px;">
				Kampfpunkte
			</th>
			<th style="width: 80px;">
				Pl&uuml;nderung
			</th>
		</tr>
		%ranking%
	</tbody>
</table>
<br />

<b>Beendete Clanwars:</b>
</span>
<table border="1" cellspacing="0" class="standard">
	<tbody>
		<tr align="center">
			<th style="width: 50px;">
				WarID
			</th>
			<th style="width: 90px;">
				Dauer
			</th>			
			<th style="width: 80px;">
				Clan
			</th>			
			<th style="width: 80px;">
				Kampfpunkte
			</th>
			<th style="width: 80px;">
				Pl&uuml;nderung
			</th>
			<th style="width: 80px;">
				Clan
			</th>			
			<th style="width: 80px;">
				Kampfpunkte
			</th>
			<th style="width: 80px;">
				Pl&uuml;nderung
			</th>
		</tr>
		%ranking2%
	</tbody>
</table>
<br />
</td>
</tr>
</table>
<br /><br />