<form enctype="multipart/form-data" action="forum_edit.php?SID" method="post">
<table border="1" cellpadding="0" cellspacing="0" width="680px" style="background-color:#e2e2e2; font-size: 12px; width: 680px;">
	<tr align="center" style="background-image:url(%template_path%table_head.gif);">
		<td width="680px" align="center" colspan="2">
			<b>Beitrag bearbeiten:</b>
		</td>
	</tr>
	<tr align="center">
		<td width="80px" align="center">
			Text:
		</td>	
		<td width="600px" align="center">
			<textarea name="text" style="border:0;width:600px;height:200px;">%text%</textarea>
		</td>
	</tr>	
	<tr align="center">
		<td width="680px" align="center" colspan="2">
			<input type="hidden" name="pid" value="%pid%">
			<input type="hidden" name="fid" value="%fid%">	
			<input type="image" src="img/forum_submit.gif" alt="eintragen" style="border:0; background-color:#e2e2e2">	
			<!-- <input type="submit" value="speichern"> -->
		</td>
	</tr>
</table>
</form>
<br /><br />
	<b>Es k&ouml;nnen folgende Tags verwendet werden:</b><br /></b>
	[b] fette Schrift <br />
	[/b] ende fette Schrift<br />
	[i] geschwungene Schrift <br />
	[/i] ende geschwungene Schrift<br />
	[color="farbe"] anfang farbige Schrift (HEX-Farbcode #123456 oder Farbe auf englisch)<br />
	[/color] ende farbige Schrift<br />

	[center] anfang zentrierte Schrift<br />
	[/center] ende zentrierte Schrift<br /><br />	