<script language="javascript" src="overlib.js"></script>
<br />	
<br />
<table border="1" cellspacing="0" class="sub" style="width:600px">
	<tr>
		<th>
			<b>O-Wars Gesamtpunkte Rangliste:</b> (letztes Update: %update%)
		</th>
	</tr>
	<tr>
		<td align="center">
		<br />
		<div align="right">Seite: %pages%&nbsp;</div>
<table border="1" cellspacing="0" class="standard">
	<tbody>
		<tr align="center">
			<th style="width: 80px;">
				Platz
			</th>
			<th style="width: 80px;">
				UBL
			</th>
			<th style="width: 100px;">
				Player
			</th>
			<th style="width: 100px;">
				Base
			</th>
			<th style="width: 70px;">
				Clan
			</th>
			<th style="width: 70px;">
				Punkte
			</th>
			<th style="width: 15px;">
				&nbsp;
			</th>			
		</tr>
		%ranking%
	</tbody>
</table>
<div align="right">Seite: %pages%&nbsp;</div>
<br /><br />
<b>Die Punkte werden alle 6 Stunden neu berechnet.</b><br />
Gesamtpunkte = Ausbaupunkte + (Kampfpunkte * 10)<br />
<br />
</td>
</tr>
</table>