<br /><br />
<form enctype="multipart/form-data" action="kampfsim.php?SID" method="post">
<table border="1" cellpadding="0" cellspacing="0" style="width: 680px;" class="standard">
	<tr align="center">
		<th style="width: 150px">
			&nbsp;
		</th>	
		<th style="width: 80px">
			Angreifer
		</th>
		<th style="width: 80px">
			Verteidiger
		</th>
		<th style="width: 370px">
			Ergebnis
		</th>				
	</tr>
	<tr style="height:15px;">
		<td>
			<a href="javascript:popUp('details_forschung.php?id=fuehrung',400)">F&uuml;hrungs-Level</a>
		</td>
		<td class="input">
			<input  type="text" name="o_f" value="%o_f%" style="border:0; width: 80px" />
		</td>
		<td class="input">
			<input type="text" name="d_f" value="%d_f%" style="border:0; width: 80px" />
		</td>
		<td rowspan="23">
			%result%
		</td>		
	</tr>	
	<tr style="height:15px;">
		<td>
			<a href="javascript:popUp('details_einh.php?id=1',400)">%einh1%</a>
		</td>
		<td class="input">
			<input type="text" name="oe1" value="%oe1%" style="border:0; width: 80px" />
		</td>
		<td class="input">
			<input type="text" name="de1" value="%de1%" style="border:0; width: 80px" />
		</td>
	</tr>		
	<tr style="height:15px;">
		<td>
			<a href="javascript:popUp('details_einh.php?id=2',400)">%einh2%</a>
		</td>
		<td class="input">
			<input type="text" name="oe2" value="%oe2%" style="border:0; width: 80px" />
		</td>
		<td class="input">
			<input type="text" name="de2" value="%de2%" style="border:0; width: 80px" />
		</td>
	</tr>
	<tr style="height:15px;">
		<td>
			<a href="javascript:popUp('details_einh.php?id=3',400)">%einh3%</a>
		</td>
		<td class="input">
			<input type="text" name="oe3" value="%oe3%" style="border:0; width: 80px" />
		</td>
		<td class="input">
			<input type="text" name="de3" value="%de3%" style="border:0; width: 80px" />
		</td>
	</tr>
	<tr style="height:15px;">
		<td>
			<a href="javascript:popUp('details_einh.php?id=4',400)">%einh4%</a>
		</td>
		<td class="input">
			<input type="text" name="oe4" value="%oe4%" style="border:0; width: 80px" />
		</td>
		<td class="input">
			<input type="text" name="de4" value="%de4%" style="border:0; width: 80px" />
		</td>
	</tr>
	<tr style="height:15px;">
		<td>
			<a href="javascript:popUp('details_einh.php?id=5',400)">%einh5%</a>
		</td>
		<td class="input">
			<input type="text" name="oe5" value="%oe5%" style="border:0; width: 80px" />
		</td>
		<td class="input">
			<input type="text" name="de5" value="%de5%" style="border:0; width: 80px" />
		</td>
	</tr>
	<tr style="height:15px;">
		<td>
			<a href="javascript:popUp('details_einh.php?id=6',400)">%einh6%</a>
		</td>
		<td class="input">
			<input type="text" name="oe6" value="%oe6%" style="border:0; width: 80px" />
		</td>
		<td class="input">
			<input type="text" name="de6" value="%de6%" style="border:0; width: 80px" />
		</td>
	</tr>
	<tr style="height:15px;">
		<td>
			<a href="javascript:popUp('details_einh.php?id=7',400)">%einh7%</a>
		</td>
		<td class="input">
			<input type="text" name="oe7" value="%oe7%" style="border:0; width: 80px" />
		</td>
		<td class="input">
			<input type="text" name="de7" value="%de7%" style="border:0; width: 80px" />
		</td>
	</tr>
	<tr style="height:15px;">
		<td>
			<a href="javascript:popUp('details_einh.php?id=8',400)">%einh8%</a>
		</td>
		<td class="input">
			<input type="text" name="oe8" value="%oe8%" style="border:0; width: 80px" />
		</td>
		<td class="input">
			<input type="text" name="de8" value="%de8%" style="border:0; width: 80px" />
		</td>
	</tr>
	<tr style="height:15px;">
		<td>
			<a href="javascript:popUp('details_einh.php?id=9',400)">%einh9%</a>
		</td>
		<td class="input">
			<input type="text" name="oe9" value="%oe9%" style="border:0; width: 80px" />
		</td>
		<td class="input">
			<input type="text" name="de9" value="%de9%" style="border:0; width: 80px" />
		</td>
	</tr>
	<tr style="height:15px;">
		<td>
			<a href="javascript:popUp('details_einh.php?id=10',400)">%einh10%</a>
		</td>
		<td class="input">
			<input type="text" name="oe10" value="%oe10%" style="border:0; width: 80px" />
		</td>
		<td class="input">
			<input type="text" name="de10" value="%de10%" style="border:0; width: 80px" />
		</td>
	</tr>
	<tr style="height:15px;">
		<td>
			<a href="javascript:popUp('details_einh.php?id=11',400)">%einh11%</a>
		</td>
		<td class="input">
			<input type="text" name="oe11" value="%oe11%" style="border:0; width: 80px" />
		</td>
		<td class="input">
			<input type="text" name="de11" value="%de11%" style="border:0; width: 80px" />
		</td>
	</tr>
	<tr style="height:15px;">
		<td>
			<a href="javascript:popUp('details_einh.php?id=12',400)">%einh12%</a>
		</td>
		<td class="input">
			<input type="text" name="oe12" value="%oe12%" style="border:0; width: 80px" />
		</td>
		<td class="input">
			<input type="text" name="de12" value="%de12%" style="border:0; width: 80px" />
		</td>
	</tr>
	<tr style="height:15px;">
		<td>
			<a href="javascript:popUp('details_einh.php?id=13',400)">%einh13%</a>
		</td>
		<td class="input">
			<input type="text" name="oe13" value="%oe13%" style="border:0; width: 80px" />
		</td>
		<td class="input">
			<input type="text" name="de13" value="%de13%" style="border:0; width: 80px" />
		</td>
	</tr>
	<tr style="height:15px;">
		<td>
			<a href="javascript:popUp('details_einh.php?id=14',400)">%einh14%</a>
		</td>
		<td class="input">
			<input type="text" name="oe14" value="%oe14%" style="border:0; width: 80px" />
		</td>
		<td class="input">
			<input type="text" name="de14" value="%de14%" style="border:0; width: 80px" />
		</td>
	</tr>
	<tr style="height:15px;">
		<td>
			<a href="javascript:popUp('details_einh.php?id=15',400)">%einh15%</a>
		</td>
		<td>
			<center>-</center>
		</td>
		<td class="input">
			<input type="text" name="de15" value="%de15%" style="border:0; width: 80px" />
		</td>
	</tr>
	<tr style="height:15px;">
		<td>
			<a href="javascript:popUp('details_def.php?id=9',400)">%def9%</a>
		</td>
		<td>
			<center>-</center>
		</td>
		<td class="input">
			<input type="text" name="dd9" value="%dd9%" style="border:0; width: 80px" />
		</td>
	</tr>	
	<tr style="height:15px;">
		<td>
			<a href="javascript:popUp('details_def.php?id=5',400)">%def5%</a>
		</td>
		<td>
			<center>-</center>
		</td>
		<td class="input">
			<input type="text" name="dd5" value="%dd5%" style="border:0; width: 80px" />
		</td>
	</tr>
	<tr style="height:15px;">
		<td>
			<a href="javascript:popUp('details_def.php?id=6',400)">%def6%</a>
		</td>
		<td>
			<center>-</center>
		</td>
		<td class="input">
			<input type="text" name="dd6" value="%dd6%" style="border:0; width: 80px" />
		</td>
	</tr>
	<tr style="height:15px;">
		<td>
			<a href="javascript:popUp('details_def.php?id=7',400)">%def7%</a>
		</td>
		<td>
			<center>-</center>
		</td>
		<td class="input">
			<input type="text" name="dd7" value="%dd7%" style="border:0; width: 80px" />
		</td>
	</tr>
	<tr style="height:15px;">
		<td>
			<a href="javascript:popUp('details_def.php?id=8',400)">%def8%</a>
		</td>
		<td>
			<center>-</center>
		</td>
		<td class="input">
			<input type="text" name="dd8" value="%dd8%" style="border:0; width: 80px" />
		</td>
	</tr>
	<tr style="height:15px;">
		<td>
			<a href="javascript:popUp('details_def.php?id=10',400)">%def10%</a>
		</td>
		<td>
			<center>-</center>
		</td>
		<td class="input">
			<input type="text" name="dd10" value="%dd10%" style="border:0; width: 80px" />
		</td>
	</tr>				
	<tr>
		<td colspan="3">
			&nbsp;
		</td>
	</tr>					
</table>
<input type="hidden" name="sim" value="1" />
<input type="submit" value="berechnen" />
</form>