			<table border="0" cellspacing="0" style="width: 100%;">
				<tr>
					<td>
						<b><center>
							Basis scannen:
							<br /><br />Du hast noch keinen Scanner!	
						</center></b>
					</td>
				</tr>
				<tr>
					<td align="left">
						<br /><br /><br />
						* Grundkosten pro Scan: 250 Uran <br />
						* Kosten pro Kilometer:&nbsp; 30*Scannerlevel Uran <br />
						* Reichweite in Kilometer:&nbsp; 10 km*Scannerlevel <br />
						* Liefert R&uuml;ckkehrzeiten der Missionen <br />
						* &Uuml;berf&uuml;hrungen k&ouml;nnen nicht entdeckt werden <br />
						* Entschl&uuml;sselung: <br />
						&nbsp;&nbsp;&nbsp;x = gescannte Basis Spionage Level <br />
						&nbsp;&nbsp;&nbsp;y = dein Spionage Level <br />
						&nbsp;&nbsp;&nbsp;z = dein Scanner Level <br />
						&nbsp;&nbsp;&nbsp;Entschl&uuml;sselungsdauer in Minuten = (x/y)*(40-z)<br />
						<br />
					</td>
				</tr>
			</table>