			<form enctype="multipart/form-data" action="raumstation.php?SID" method="post" name="munition">
			<table border="0" cellspacing="0" style="width: 100%;">
				<tr>
					<td colspan="2">
						<center><b>Munition herstellen:</b><br />Du bist bereits Munition am bauen.</center>
					</td>
				</tr>
				<tr>
					<td>
						Restdauer:
					</td>
					<td>
						%restdauer%
						</form>
					</td>
				</tr>
				<tr>
					<td>
						Resultierender Schaden:
					</td>
					<td>
						%schaden%
						</form>
					</td>
				</tr>
			</table>