<br />
<table border="0" cellspacing="0" style="width:600px;">
	<tr align="center">
		<td align="left" valign="bottom">
			<b>%box%</b>
		</td>
		<td align="right" valign="bottom">
			<a href="nachricht_schreiben.php?SID"><img src="img/nachricht.gif" alt="Nachricht schreiben" /></a>
			<br />
			Seite: %pages%
		</td>		
	</tr>	
</table>

<table border="1" cellspacing="0" style="width:600px;" class="standard">
	<tr align="center">
		<th style="width:88px">Datum</th>
		<th style="width:55px">UBL</th>
		<th style="width:120px">Empf&auml;nger</th>
		<th style="width:280px">Betreff</th>
		<th style="width:50px">Gelesen</th>
	</tr>
	%nachrichten%
</table>

<table border="0" cellspacing="0" style="width:600px;">
	<tr align="center">
		<td align="left" valign="top">
			<a href="nachricht_schreiben.php?SID"><img src="img/nachricht.gif" alt="Nachricht schreiben" /></a>
		</td>
		<td align="right" valign="top">
			Seite: %pages%
		</td>		
	</tr>
</table>
<br /><br />