<table class="ressis" border="0" cellspacing="0">
	<tbody>
		<tr align="center">
			<td class="ressis_eisen">
				&nbsp;
			</td>
			<td class="ressis_titan">
				&nbsp;
			</td>
			<td class="ressis_oel">
				&nbsp;
			</td>
			<td class="ressis_uran">
				&nbsp;
			</td>
			<td class="ressis_gold">
				&nbsp;
			</td>
			<td class="ressis_chanje">
				&nbsp;
			</td>
			<td class="ressis_hangar">
				&nbsp;
			</td>
		</tr>
		<tr align="center" class="ressis">
			<td>
				%_eisen%
			</td>
			<td>
				%_titan%
			</td>
			<td>
				%_oel%
			</td>
			<td>
				%_uran%
			</td>
			<td>
				%_gold%
			</td>
			<td>
				%_chanje%
			</td>
			<td>
				%_hangar%
			</td>
		</tr>
	</tbody>
</table>