<br />
<table border="1" class="sub" align="center" cellspacing="0" cellpadding="0" style="width:600px;">
	<tr>
		<th>Rohstofff&ouml;rderung pro Stunde:</th>
	</tr>
	<tr>
		<td align="center">
<br />
<table border="1" cellspacing="0" class="standard">
	<tr align="center">
		<th style="width:120px;">&nbsp</th><th style="width:80px">Eisen</th>
		<th style="width:80px">Titan</th><th style="width:80px">Oel</th>
		<th style="width:80px">Uran</th><th style="width:80px">Gold</th>
	</tr>
	<tr class="standard" align="center">
		<td align="left">Grundf&ouml;rderung</td>
		<td>40</td>
		<td>20</td>
		<td>32</td>
		<td>-</td>
		<td>4</td>
	</tr>
	<tr class="standard" align="center">
		<td align="left">Eisenmine (%lvl_eisen%)</td>
		<td>%gf_eisen%</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
		<td>%lvl_eisen%</td>
	</tr>
	<tr class="standard" align="center">
		<td align="left">Titanmine (%lvl_titan%)</td>
		<td>-</td>
		<td>%gf_titan%</td>
		<td>-</td>
		<td>-</td>
		<td>%lvl_titan%</td>
	</tr>
	<tr class="standard" align="center">
		<td align="left">Oelpumpe (%lvl_oel%)</td>
		<td>-</td>
		<td>-</td>
		<td>%gf_oel%</td>
		<td>-</td>
		<td>%lvl_oel%</td>
	</tr>
	<tr class="standard" align="center">
		<td align="left">Uranmine (%lvl_uran%)</td>
		<td>-</td>
		<td>-</td>
		<td>-</td>
		<td>%gf_uran%</td>
		<td>%lvl_uran%</td>
	</tr>
	<tr class="standard" align="center">
		<td align="left">Bonus</td>
		<td>%eisen_bonus%</td>
		<td>%titan_bonus%</td>
		<td>%oel_bonus%</td>
		<td>%uran_bonus%</td>
		<td>-</td>
	</tr>
	<tr class="standard" align="center">
		<td align="left"><b>Gesamt</b> </td>
		<td><b>%eisen_all%</b></td>
		<td><b>%titan_all%</b></td>
		<td><b>%oel_all%</b></td>
		<td><b>%uran_all%</b></td>
		<td><b>%gold_all%</b></td>
	</tr>
</table>

<br /><b>Lagerkapazit&auml;ten:</b><br />
<table border="1" cellspacing="0" class="standard">
	<tr align="center">
		<th style="width:120px;">&nbsp</th>
		<th style="width:80px">Eisen</th>
		<th style="width:80px">Titan</th>
		<th style="width:80px">Oel</th>
		<th style="width:80px">Uran</th>
		<th style="width:80px">Gold</th>
	</tr>
	<tr class="standard" align="center">
		<td align="left">Basis </td>
		<td>5000</td>
		<td>5000</td>
		<td>5000</td>
		<td>5000</td>
		<td>5000</td>
	</tr>
	<tr class="standard" align="center">
		<td align="left">Rohstofflager (%lvl_lager%) </td>
		<td>%space%</td>
		<td>%space%</td>
		<td>%space%</td>
		<td>%space%</td>
		<td>%space%</td>
	</tr>
	<tr class="standard" align="center">
		<td align="left"><b>Gesamt</b> </td>
		<td><b>%space_all%</b></td>
		<td><b>%space_all%</b></td>
		<td><b>%space_all%</b></td>
		<td><b>%space_all%</b></td>
		<td><b>%space_all%</b></td>
	</tr>
	<tr class="standard" align="center">
		<td align="left">Restplatz </td>
		<td>%space_eisen%</td>
		<td>%space_titan%</td>
		<td>%space_oel%</td>
		<td>%space_uran%</td>
		<td>%space_gold%</td>
	</tr>
</table>

<br /><b>Nichtraubbare Ressourcen:</b><br />
<table border="1" cellspacing="0" class="standard">
	<tr align="center">
		<th style="width:120px;">&nbsp</th>
		<th style="width:80px">Eisen</th>
		<th style="width:80px">Titan</th>
		<th style="width:80px">Oel</th>
		<th style="width:80px">Uran</th>
		<th style="width:80px">Gold</th>
	</tr>
	<tr class="standard" align="center">
		<td align="left">Basis </td>
		<td>500</td>
		<td>500</td>
		<td>500</td>
		<td>500</td>
		<td>500</td>
	</tr>
	<tr class="standard" align="center">
		<td align="left">Rohstofflager (%lvl_lager%) </td>
		<td>%nichtraubbar_lager%</td>
		<td>%nichtraubbar_lager%</td>
		<td>%nichtraubbar_lager%</td>
		<td>%nichtraubbar_lager%</td>
		<td>%nichtraubbar_lager%</td>
	</tr>
	<tr class="standard" align="center">
		<td align="left"><b>Gesamt</b> </td>
		<td><b>%nichtraubbar%</b></td>
		<td><b>%nichtraubbar%</b></td>
		<td><b>%nichtraubbar%</b></td>
		<td><b>%nichtraubbar%</b></td>
		<td><b>%nichtraubbar%</b></td>
	</tr>
</table>
<br /><b>Achtung:</b> Rohstoffe, die die maximale Lagerkapazit&auml;t &uuml;berschreiten <b>verfallen sofort</b>.<br /><br />

%ueberlagerbar%
<br /><br />
</td></tr></table>