<br />
<span style="font-size: 12px;" ;=""><br />
	<b>Sektor %sector% Top 10 Ausbaupunkte:</b>
</span>
<table style="background-color: rgb(226, 226, 226); font-size: 12px;" border="1" cellspacing="0">
	<tbody>
		<tr align="center" style="background-image:url(%template_path%table_head.gif);">
			<td style="width: 80px;">
				Platz
			</td>
			<td style="width: 80px;">
				UBL
			</td>
			<td style="width: 100px;">
				Player
			</td>
			<td style="width: 100px;">
				Base
			</td>
			<td style="width: 70px;">
				Clan
			</td>
			<td style="width: 70px;">
				Punkte
			</td>
		</tr>
		%ranking1%
	</tbody>
</table>
<br /><br />
<b>Sektor %sector% Top 10 Kampfpunkte:</b>
<table style="background-color: rgb(226, 226, 226); font-size: 12px;" border="1" cellspacing="0">
	<tbody>
		<tr align="center" style="background-image:url(%template_path%table_head.gif);">
			<td style="width: 80px;">
				Platz
			</td>
			<td style="width: 80px;">
				UBL
			</td>
			<td style="width: 100px;">
				Player
			</td>
			<td style="width: 100px;">
				Base
			</td>
			<td style="width: 70px;">
				Clan
			</td>
			<td style="width: 70px;">
				Punkte
			</td>
		</tr>
		%ranking2%
	</tbody>
</table>
<br /><br />
<b>Sektor %sector% Top 10 Plasmapunkte:</b>
<table style="background-color: rgb(226, 226, 226); font-size: 12px;" border="1" cellspacing="0">
	<tbody>
		<tr align="center" style="background-image:url(%template_path%table_head.gif);">
			<td style="width: 80px;">
				Platz
			</td>
			<td style="width: 80px;">
				UBL
			</td>
			<td style="width: 100px;">
				Player
			</td>
			<td style="width: 100px;">
				Base
			</td>
			<td style="width: 70px;">
				Clan
			</td>
			<td style="width: 70px;">
				Punkte
			</td>
		</tr>
		%ranking3%
	</tbody>
</table>
<br />