<br />	
<br />
<table border="1" cellspacing="0" class="sub" style="width:760px">
	<tr>
		<th>
			<b>Statistiken zu deiner Basis:</b> (<i><a href="supporterstats2.php">Klicke hier f&uuml;r weitere Statistiken</a></i>)
		</th>
	</tr>
	<tr>
		<td align="center">
<br />
<center><b>Eigene Verluste:</b></center>
<table class="standard" border="1" cellspacing="0">
	<tbody>
		<tr align="center">
			<th style="width: 140px;">
				&nbsp;
			</th>
			<th style="width: 150px;">
				<b>Verluste durch K&auml;mpfe</b>
			</th>
			<th style="width: 150px;">
				<b>Verluste durch Raketen</b>
			</th>
			<th style="width: 150px;">
				<b>Verluste durch Plasma</b>
			</th>
			<th style="width: 120px;">
				<b>Gesamt</b>
			</th>			
		</tr>
		<tr align="center">
			<td align="left">
				%einh1%
			</td>
			<td>
				%vkeinh1%
			</td>
			<td>
				%vreinh1%
			</td>
			<td>
				%vpeinh1%
			</td>
			<td>
				%vgeinh1%
			</td>		
		</tr>
		<tr align="center">
			<td align="left">
				%einh2%
			</td>
			<td>
				%vkeinh2%
			</td>
			<td>
				%vreinh2%
			</td>
			<td>
				%vpeinh2%
			</td>
			<td>
				%vgeinh2%
			</td>
		</tr>
		<tr align="center">
			<td align="left">
				%einh3%
			</td>
			<td>
				%vkeinh3%
			</td>
			<td>
				%vreinh3%
			</td>			
			<td>
				%vpeinh3%
			</td>
			<td>
				%vgeinh3%
			</td>
		</tr>
		<tr align="center">
			<td align="left">
				%einh4%
			</td>
			<td>
				%vkeinh4%
			</td>
			<td>
				%vreinh4%
			</td>
			<td>
				%vpeinh4%
			</td>
			<td>
				%vgeinh4%
			</td>
		</tr>
		<tr align="center">
			<td align="left">
				%einh5%
			</td>
			<td>
				%vkeinh5%
			</td>
			<td>
				%vreinh5%
			</td>
			<td>
				%vpeinh5%
			</td>
			<td>
				%vgeinh5%
			</td>
		</tr>
		<tr align="center">
			<td align="left">
				%einh6%
			</td>
			<td>
				%vkeinh6%
			</td>
			<td>
				%vreinh6%
			</td>
			<td>
				%vpeinh6%
			</td>
			<td>
				%vgeinh6%
			</td>
		</tr>
		<tr align="center">
			<td align="left">
				%einh7%
			</td>
			<td>
				%vkeinh7%
			</td>
			<td>
				%vreinh7%
			</td>
			<td>
				%vpeinh7%
			</td>
			<td>
				%vgeinh7%
			</td>
		</tr>
		<tr align="center">
			<td align="left">
				%einh8%
			</td>
			<td>
				%vkeinh8%
			</td>
			<td>
				%vreinh8%
			</td>
			<td>
				%vpeinh8%
			</td>
			<td>
				%vgeinh8%
			</td>
		</tr>
		<tr align="center">
			<td align="left">
				%einh9%
			</td>
			<td>
				%vkeinh9%
			</td>
			<td>
				%vreinh9%
			</td>
			<td>
				%vpeinh9%
			</td>
			<td>
				%vgeinh9%
			</td>
		</tr>
		<tr align="center">
			<td align="left">
				%einh10%
			</td>
			<td>
				%vkeinh10%
			</td>
			<td>
				%vreinh10%
			</td>
			<td>
				%vpeinh10%
			</td>
			<td>
				%vgeinh10%
			</td>
		</tr>
		<tr align="center">
			<td align="left">
				%einh11%
			</td>
			<td>
				%vkeinh11%
			</td>
			<td>
				%vreinh11%
			</td>
			<td>
				%vpeinh11%
			</td>
			<td>
				%vgeinh11%
			</td>
		</tr>
		<tr align="center">
			<td align="left">
				%einh12%
			</td>
			<td>
				%vkeinh12%
			</td>
			<td>
				%vreinh12%
			</td>
			<td>
				%vpeinh12%
			</td>
			<td>
				%vgeinh12%
			</td>
		</tr>
		<tr align="center">
			<td align="left">
				%einh13%
			</td>
			<td>
				%vkeinh13%
			</td>
			<td>
				%vreinh13%
			</td>
			<td>
				%vpeinh13%
			</td>
			<td>
				%vgeinh13%
			</td>
		</tr>
		<tr align="center">
			<td align="left">
				%einh14%
			</td>
			<td>
				%vkeinh14%
			</td>
			<td>
				%vreinh14%
			</td>
			<td>
				%vpeinh14%
			</td>
			<td>
				%vgeinh14%
			</td>
		</tr>
		<tr align="center">
			<td align="left">
				%einh15%
			</td>
			<td>
				%vkeinh15%
			</td>
			<td>
				%vreinh15%
			</td>
			<td>
				%vpeinh15%
			</td>
			<td>
				%vgeinh15%
			</td>
		</tr>
		<tr align="center">
			<td align="left">
				Gesamt
			</td>
			<td>
				%vkg%
			</td>
			<td>
				%vrg%
			</td>
			<td>
				%vpg%
			</td>
			<td>
				%vg%
			</td>
		</tr>		
	</tbody>
</table><br />
<center><b>Vernichtete Einheiten:</b></center>
<table class="standard" border="1" cellspacing="0">
	<tbody>
		<tr align="center">
			<th style="width: 140px;">
				&nbsp;
			</th>
			<th style="width: 150px;">
				<b>Vernichtet durch K&auml;mpfe</b>
			</th>
			<th style="width: 150px;">
				<b>Vernichtet durch Raketen</b>
			</th>
			<th style="width: 150px;">
				<b>Vernichtet durch Plasma</b>
			</th>
			<th style="width: 120px;">
				<b>Gesamt</b>
			</th>			
		</tr>
		<tr align="center">
			<td align="left">
				%einh1%
			</td>
			<td>
				%dkeinh1%
			</td>
			<td>
				%dreinh1%
			</td>
			<td>
				%dpeinh1%
			</td>
			<td>
				%dgeinh1%
			</td>
		</tr>
		<tr align="center">
			<td align="left">
				%einh2%
			</td>
			<td>
				%dkeinh2%
			</td>
			<td>
				%dreinh2%
			</td>
			<td>
				%dpeinh2%
			</td>
			<td>
				%dgeinh2%
			</td>
		</tr>
		<tr align="center">
			<td align="left">
				%einh3%
			</td>
			<td>
				%dkeinh3%
			</td>
			<td>
				%dreinh3%
			</td>
			<td>
				%dpeinh3%
			</td>
			<td>
				%dgeinh3%
			</td>
		</tr>
		<tr align="center">
			<td align="left">
				%einh4%
			</td>
			<td>
				%dkeinh4%
			</td>
			<td>
				%dreinh4%
			</td>
			<td>
				%dpeinh4%
			</td>
			<td>
				%dgeinh4%
			</td>
		</tr>
		<tr align="center">
			<td align="left">
				%einh5%
			</td>
			<td>
				%dkeinh5%
			</td>
			<td>
				%dreinh5%
			</td>
			<td>
				%dpeinh5%
			</td>
			<td>
				%dgeinh5%
			</td>
		</tr>
		<tr align="center">
			<td align="left">
				%einh6%
			</td>
			<td>
				%dkeinh6%
			</td>
			<td>
				%dreinh6%
			</td>
			<td>
				%dpeinh6%
			</td>
			<td>
				%dgeinh6%
			</td>
		</tr>
		<tr align="center">
			<td align="left">
				%einh7%
			</td>
			<td>
				%dkeinh7%
			</td>
			<td>
				%dreinh7%
			</td>
			<td>
				%dpeinh7%
			</td>
			<td>
				%dgeinh7%
			</td>
		</tr>
		<tr align="center">
			<td align="left">
				%einh8%
			</td>
			<td>
				%dkeinh8%
			</td>
			<td>
				%dreinh8%
			</td>
			<td>
				%dpeinh8%
			</td>
			<td>
				%dgeinh8%
			</td>
		</tr>
		<tr align="center">
			<td align="left">
				%einh9%
			</td>
			<td>
				%dkeinh9%
			</td>
			<td>
				%dreinh9%
			</td>
			<td>
				%dpeinh9%
			</td>
			<td>
				%dgeinh9%
			</td>
		</tr>
		<tr align="center">
			<td align="left">
				%einh10%
			</td>
			<td>
				%dkeinh10%
			</td>
			<td>
				%dreinh10%
			</td>
			<td>
				%dpeinh10%
			</td>
			<td>
				%dgeinh10%
			</td>
		</tr>
		<tr align="center">
			<td align="left">
				%einh11%
			</td>
			<td>
				%dkeinh11%
			</td>
			<td>
				%dreinh11%
			</td>
			<td>
				%dpeinh11%
			</td>
			<td>
				%dgeinh11%
			</td>
		</tr>
		<tr align="center">
			<td align="left">
				%einh12%
			</td>
			<td>
				%dkeinh12%
			</td>
			<td>
				%dreinh12%
			</td>
			<td>
				%dpeinh12%
			</td>
			<td>
				%dgeinh12%
			</td>
		</tr>
		<tr align="center">
			<td align="left">
				%einh13%
			</td>
			<td>
				%dkeinh13%
			</td>
			<td>
				%dreinh13%
			</td>
			<td>
				%dpeinh13%
			</td>
			<td>
				%dgeinh13%
			</td>
		</tr>
		<tr align="center">
			<td align="left">
				%einh14%
			</td>
			<td>
				%dkeinh14%
			</td>
			<td>
				%dreinh14%
			</td>
			<td>
				%dpeinh14%
			</td>
			<td>
				%dgeinh14%
			</td>
		</tr>
		<tr align="center">
			<td align="left">
				%einh15%
			</td>
			<td>
				%dkeinh15%
			</td>
			<td>
				%dreinh15%
			</td>
			<td>
				%dpeinh15%
			</td>
			<td>
				%dgeinh15%
			</td>
		</tr>
		<tr align="center">
			<td align="left">
				Gesamt
			</td>
			<td>
				%dkg%
			</td>
			<td>
				%drg%
			</td>
			<td>
				%dpg%
			</td>
			<td>
				%dg%
			</td>
		</tr>				
	</tbody>
</table><br />
<center><b>Ressourcen:</b></center>
<table class="standard" border="1" cellspacing="0">
	<tbody>
		<tr align="center">
			<th style="width: 140px;">
				&nbsp;
			</th>
			<th style="width: 115px;">
				<b>Eisen</b>
			</th>
			<th style="width: 115px;">
				<b>Titan</b>
			</th>
			<th style="width: 115px;">
				<b>Oel</b>
			</th>
			<th style="width: 115px;">
				<b>Uran</b>
			</th>
			<th style="width: 115px;">
				<b>Gold</b>
			</th>
		</tr>
		<tr align="center">
			<td style="" align="left">
				erbeutete Ressourcen
			</td>
			<td style="">
				%f_eisen%
			</td>
			<td style="">
				%f_titan%
			</td>
			<td style="">
				%f_oel%
			</td>
			<td style="">
				%f_uran%
			</td>
			<td style="">
				%f_gold%
			</td>						
		</tr>
		<tr align="center" align="left">
			<td style="" align="left">
				verlorene Ressourcen
			</td>
			<td style="">
				%r_eisen%
			</td>
			<td style="">
				%r_titan%
			</td>
			<td style="">
				%r_oel%
			</td>
			<td style="">
				%r_uran%
			</td>
			<td style="">
				%r_gold%
			</td>						
		</tr>
	</tbody>
</table><br />
</td>
</tr>
</table>