<script language="javascript" src="overlib.js"></script>
<br />
	<b>&Uuml;bersicht: </b>
	%clan_bonus%
<table style="width: 660px;" border="1" cellspacing="0" class="standard">
	<tbody>
		<tr align="center">
			<th style="width: 100px;">
				&nbsp;
			</th>
			<th style="width: 175px;">
				Hangar
			</th>
			<th style="width: 175px;">
				Verteidigungsanlagen
			</th>
			<th style="width: 175px;">
				Gesamt
			</th>
		</tr>
		<tr align="right">
			<td style="width: 100px;">
				Angriff
			</td>
			<td style="width: 175px;">
				%unit_off%
			</td>
			<td style="width: 175px;">
				%def_off%
			</td>
			<td style="width: 175px;">
				%all_off%
			</td>
		</tr>
		<tr align="right">
			<td style="width: 100px;">
				Verteidigung
			</td>
			<td style="width: 175px;">
				%unit_def%
			</td>
			<td style="width: 175px;">
				%def_def%
			</td>
			<td style="width: 175px;">
				%all_def%
			</td>
		</tr>
		<tr align="right">
			<td style="width: 100px;">
				Gesamt
			</td>
			<td style="width: 175px;">
				%unit_all%
			</td>
			<td style="width: 175px;">
				%def_all%
			</td>
			<td style="width: 175px;">
				%all_all%
			</td>
		</tr>
	</tbody>
</table>
<br />
<table style="width: 660px;" border="1" cellspacing="0" class="standard">
	<tbody>
		<tr align="center">
			<th style="width: 210px;">
				Geb&auml;ude
			</th>
			<th style="width: 210px;">
				Forschung
			</th>
			<th style="width: 210px;">
				Fabrik (%fabrik_ges%)
			</th>
		</tr>
		<tr align="center">
			<td>
				%gebaeude%
			</td>
			<td>
				%forschung%
			</td>
			<td>
				%fabrik%
			</td>
		</tr>
	</tbody>
</table>
<!--<br />
<br />
<b class="red"><a href="javascript:popUp('wmspiel.php?SID',600,'wmspiel')" class="red">Klicke hier f&uuml;r das O-Wars WM 2006 GEWINNSPIEL SPECIAL !</a></b>-->
<br />
<br />
<b>Aufgedeckte Missionen:</b>
<table style="width: 660px;" border="1" cellspacing="0"  class="standard">
	<tbody>
		<tr align="center" style="width: 660px;">
			<th style="width: 80px;">
				ID
			</th>
			<th style="width: 40px;">
				PID
			</th>			
			<th style="width: 80px;">
				Mission
			</th>
			<th style="width: 70px;">
				Absender
			</th>
			<th style="width: 63px;">
				Anzahl
			</th>
			<th style="width: 60px;">
				Geschw.
			</th>
			<th style="width: 90px;">
				Ankunft
			</th>
			<th style="width: 170px;">
				Einheiten
			</th>
		</tr>
		%detected_missions%
	</tbody>
</table>
<br />
	<b>Aktive Missionen: %missions_active% von %missions_max% m&ouml;glichen.</b>
<table style="width: 660px;" border="1" cellspacing="0" class="standard">
	<tbody>
		<tr align="center">
			<th style="width: 95px;">
				Mission
			</th>
			<th style="width: 70px;">
				Ziel
			</th>
			<th style="width: 60px;">
				Anzahl
			</th>
			<th style="width: 60px;">
				Hangar
			</th>			
			<th style="width: 70px;">
				Geschw.
			</th>
			<th style="width: 95px;">
				Ankunft
			</th>
			<th style="width: 80px;">
				Countdown
			</th>			
			<th style="width: 75px;">
				&nbsp;
			</th>
		</tr>
		%active_missions%
	</tbody>
</table>
<br />
	<b>Geplante R&uuml;ckkehr: </b>
<table style="width: 660px;" border="1" cellspacing="0" class="standard">
	<tbody>
		<tr align="center">
			<th style="width: 95px;">
				Mission
			</th>
			<th style="width: 70px;">
				Ziel
			</th>
			<th style="width: 60px;">
				Anzahl
			</th>
			<th style="width: 60px;">
				Hangar
			</th>			
			<th style="width: 70px;">
				Geschw.
			</th>
			<th style="width: 95px;">
				Ankunft
			</th>
			<th style="width: 80px;">
				Countdown
			</th>			
			<th style="width: 75px;">
				&nbsp;
			</th>
		</tr>
		%return_missions%
	</tbody>
</table>
