<form enctype="multipart/form-data" action="verteidigung.php?SID" method="post">
<table border="1" cellpadding="1" cellspacing="0">
	<tr>
		<td width="120px">
			Einheit
		</td>	
		<td>
			Vorhanden
		</td>			
	</tr>
	<tr>
		<td>
			%einh1_name%
		</td>	
		<td>
			<input type="text" name="einh1" style="border:0px" value="%einh1%" />
		</td>			
	</tr>	
	<tr>
		<td>
			%einh2_name%
		</td>	
		<td>
			<input type="text" name="einh2" style="border:0px" value="%einh2%" />
		</td>			
	</tr>	
	<tr>
		<td>
			%einh3_name%
		</td>	
		<td>
			<input type="text" name="einh3" style="border:0px" value="%einh3%" />
		</td>			
	</tr>	
	<tr>
		<td>
			%einh4_name%
		</td>	
		<td>
			<input type="text" name="einh4" style="border:0px" value="%einh4%" />
		</td>			
	</tr>	
	<tr>
		<td>
			%einh5_name%
		</td>	
		<td>
			<input type="text" name="einh5" style="border:0px" value="%einh5%" />
		</td>			
	</tr>	
	<tr>
		<td>
			%einh6_name%
		</td>	
		<td>
			<input type="text" name="einh6" style="border:0px" value="%einh6%" />
		</td>			
	</tr>	
	<tr>
		<td>
			%einh7_name%
		</td>	
		<td>
			<input type="text" name="einh7" style="border:0px" value="%einh7%" />
		</td>			
	</tr>	
	<tr>
		<td>
			%einh8_name%
		</td>	
		<td>
			<input type="text" name="einh8" style="border:0px" value="%einh8%" />
		</td>			
	</tr>	
	<tr>
		<td>
			%einh9_name%
		</td>	
		<td>
			<input type="text" name="einh9" style="border:0px" value="%einh9%" />
		</td>			
	</tr>	
	<tr>
		<td>
			%einh10_name%
		</td>	
		<td>
			<input type="text" name="einh10" style="border:0px" value="%einh10%" />
		</td>			
	</tr>	
	<tr>
		<td colspan="2" align="center">
			<input type="submit" name="aendern" style="border:0px;width:100%" value="aendern" />
		</td>			
	</tr>					
</table>
</form>