<form enctype="multipart/form-data" action="forschungen.php?SID" method="post">
<table border="1" cellpadding="1" cellspacing="0">
	<tr>
		<td width="120px">
			Gebaeude
		</td>	
		<td>
			Level
		</td>			
	</tr>
	<tr>
		<td>
			Panzerung
		</td>	
		<td>
			<input type="text" name="panzerung" style="border:0px" value="%panzerung%" />
		</td>			
	</tr>	
	<tr>
		<td>
			Reaktor
		</td>	
		<td>
			<input type="text" name="reaktor" style="border:0px" value="%reaktor%" />
		</td>			
	</tr>
	<tr>
		<td>
			Panzerketten
		</td>	
		<td>
			<input type="text" name="panzerketten" style="border:0px" value="%panzerketten%" />
		</td>			
	</tr>
	<tr>
		<td>
			Radverstaerkungen
		</td>	
		<td>
			<input type="text" name="rad" style="border:0px" value="%rad%" />
		</td>			
	</tr>
	<tr>
		<td>
			Motor
		</td>	
		<td>
			<input type="text" name="motor" style="border:0px" value="%motor%" />
		</td>			
	</tr>
	<tr>
		<td>
			Feuerwaffen
		</td>	
		<td>
			<input type="text" name="feuerwaffen" style="border:0px" value="%feuerwaffen%" />
		</td>			
	</tr>
	<tr>
		<td>
			Raketen
		</td>	
		<td>
			<input type="text" name="raketen" style="border:0px" value="%raketen%" />
		</td>			
	</tr>
	<tr>
		<td>
			Sprengstoff
		</td>	
		<td>
			<input type="text" name="sprengstoff" style="border:0px" value="%sprengstoff%" />
		</td>			
	</tr>
	<tr>
		<td>
			Spionage
		</td>	
		<td>
			<input type="text" name="spionage" style="border:0px" value="%spionage%" />
		</td>			
	</tr>
	<tr>
		<td>
			Fuehrung
		</td>	
		<td>
			<input type="text" name="fuehrung" style="border:0px" value="%fuehrung%" />
		</td>			
	</tr>
	<tr>
		<td>
			Minentechnik
		</td>	
		<td>
			<input type="text" name="minen" style="border:0px" value="%minen%" />
		</td>			
	</tr>
	<tr>
		<td colspan="2" align="center">
			<input type="submit" name="aendern" style="border:0px;width:100%" value="aendern" />
		</td>			
	</tr>	
</table>
</form>