<form enctype="multipart/form-data" action="gebaeude.php?SID" method="post">
<table border="1" cellpadding="1" cellspacing="0">
	<tr>
		<td width="120px">
			Gebaeude
		</td>	
		<td>
			Level
		</td>			
	</tr>
	<tr>
		<td>
			Basis
		</td>	
		<td>
			<input type="text" name="basis" style="border:0px" value="%basis%" />
		</td>			
	</tr>	
	<tr>
		<td>
			Forschungsanlage
		</td>	
		<td>
			<input type="text" name="forschungsanlage" style="border:0px" value="%forschungsanlage%" />
		</td>			
	</tr>
	<tr>
		<td>
			Fabrik
		</td>	
		<td>
			<input type="text" name="fabrik" style="border:0px" value="%fabrik%" />
		</td>			
	</tr>
	<tr>
		<td>
			Raketensilo
		</td>	
		<td>
			<input type="text" name="raketensilo" style="border:0px" value="%raketensilo%" />
		</td>			
	</tr>
	<tr>
		<td>
			NBZ
		</td>	
		<td>
			<input type="text" name="nbz" style="border:0px" value="%nbz%" />
		</td>			
	</tr>
	<tr>
		<td>
			Hangar
		</td>	
		<td>
			<input type="text" name="hangar" style="border:0px" value="%hangar%" />
		</td>			
	</tr>
	<tr>
		<td>
			Fahrwege
		</td>	
		<td>
			<input type="text" name="fahrwege" style="border:0px" value="%fahrwege%" />
		</td>			
	</tr>

	<tr>
		<td>
			Missionszentrum
		</td>	
		<td>
			<input type="text" name="missionszentrum" style="border:0px" value="%missionszentrum%" />
		</td>			
	</tr>
	<tr>
		<td>
			Raumstation
		</td>	
		<td>
			<input type="text" name="raumstation" style="border:0px" value="%raumstation%" />
		</td>			
	</tr>

	<tr>
		<td>
			Rohstofflager
		</td>	
		<td>
			<input type="text" name="rohstofflager" style="border:0px" value="%rohstofflager%" />
		</td>			
	</tr>	
	<tr>
		<td>
			Eisenmine
		</td>	
		<td>
			<input type="text" name="eisenmine" style="border:0px" value="%eisenmine%" />
		</td>			
	</tr>
	<tr>
		<td>
			Titanmine
		</td>	
		<td>
			<input type="text" name="titanmine" style="border:0px" value="%titanmine%" />
		</td>			
	</tr>
	<tr>
		<td>
			Oelpumpe
		</td>	
		<td>
			<input type="text" name="oelpumpe" style="border:0px" value="%oelpumpe%" />
		</td>			
	</tr>
	<tr>
		<td>
			Uranmine
		</td>	
		<td>
			<input type="text" name="uranmine" style="border:0px" value="%uranmine%" />
		</td>			
	</tr>				
	<tr>
		<td colspan="2" align="center">
			<input type="submit" name="aendern" style="border:0px;width:100%" value="aendern" />
		</td>			
	</tr>					
</table>
</form>