<form enctype="multipart/form-data" action="uebersicht.php?SID" method="post">
<table border="0" cellpadding="1" cellspacing="0">
	<tr>
		<td width="70px" align="right">
			Eisen:
		</td>	
		<td align="right" width="174px"> 
			<b>%eisen% + </b><input type="text" name="eisen" value="" style="width:70px" />
		</td>			
	</tr>	
	<tr>
		<td align="right">
			Titan
		</td>	
		<td align="right"> 
			<b>%titan% + </b><input type="text" name="titan" value="" style="width:70px" />
		</td>			
	</tr>		
	<tr>
		<td align="right">
			Oel
		</td>	
		<td align="right"> 
			<b>%oel% + </b><input type="text" name="oel" value="" style="width:70px" />
		</td>			
	</tr>		
	<tr>
		<td align="right">
			Uran
		</td>	
		<td align="right"> 
			<b>%uran% + </b><input type="text" name="uran" value="" style="width:70px" />
		</td>			
	</tr>		
	<tr>
		<td align="right">
			Gold
		</td>	
		<td align="right"> 
			<b>%gold% + </b><input type="text" name="gold" value="" style="width:70px" />
		</td>			
	</tr>		
	<tr>
		<td align="right">
			Chanje
		</td>	
		<td align="right"> 
			<b>%chanje% + </b><input type="text" name="chanje" value="" style="width:70px" />
		</td>			
	</tr>						
	<tr>
		<td colspan="2" align="center">
			<input type="submit" name="ressis" value="buchen" />
		</td>			
	</tr>					
</table>
</form>